{% extends 'base.html' %}

{% block title %}About{% endblock title %}
{% block content %}
<div class="container">
    <br>
		<h1 style="color:DeepSkyBlue;">About : </h1>
    <h3 style="color:FloralWhite;">This is a basic machine learning and deep learning based medical app.</h3>
    <p style="color:FloralWhite;">The prediction about the disease is made with the help of the machine learning and deep learning model which itself is trained on the thousands of the datasets</p>
    <p style="color:FloralWhite;">So with the following paragraph I gonna be describing about the types of the diseases which gonna be getting employed in this app.</p>
{% endblock content %}
