
{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}

{% block content %}
<!--<div class="container-fluid px-0">-->
<style>
    p{
    margin-top:10px;
</style>
<img src="/media/Contact.jpg" class="d-block w-100" alt="..." width="800" height="400">
<h1 style="text-align:center; color: FloralWhite;"><b><p>Creators : </p></b></h1>
<h2 style="text-align:center; color: FloralWhite;"><b><p>Anand Ranjan</p></b></h2>
<h3 style="text-align:center; color: FloralWhite;"><b><p>Sourabh Choudhary</p></b></h3>
{% endblock content %}
