
{% extends 'base.html' %}
{% block title %}COVID19{% endblock title %}

{% block content %}
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
<div class="container"><br>
    <h1 style="text-align:center"><p style="color:SkyBlue;">COVID-19 Detection From Lung X-Rays</p></h1>
    <img src="media/fi.jpg" alt="medical" class="centre" style="width:20% width="300" height="300";><br>
    <form action="upload1" method="post" enctype="multipart/form-data">{% csrf_token %}
        <span style=" position:relative;top:80%; left:30%;">
        <input type="file" class="btn btn-success" name="image">
        <!--</span>
        <span style=" position:relative;top:80%; left:43%;"><br>-->
        <input type="submit" class="btn btn-primary" value="Upload Image">
        </span>
        </div>
        <!--<img src={{filePathname}} alt="imagename">
                    {{filePathname}}-->
    </form>
</div>
<!--</div>-->
{% endblock content %}
