{% extends 'base.html' %}

{% block title %}Diabetes{% endblock title %}

{% block content %}
<style>
    p{
    margin-top:10px;
</style>
<!--{% load static %}
<div class="container-fluid px-0">
    <h1>Malaria</h1>
</div>-->
<br><h1 style="text-align:center"><p style="color:FloralWhite;">Diabetes Prediction</p></h1>
<form action="predict" align="center">
    <p></p><input type="text" name="Pregnancies" placeholder="Pregnancies" required="required" style="width:250px;">
    <p></p><input type="text" name="Glucose" placeholder="Glucose Concen." required="required" style="width:250px;">
    <p></p><input type="text" name="BloodPressure" placeholder="Blood Pressure (in mm Hg)" required="required" style="width:250px;">
    <p></p><input type="text" name="SkinThickness" placeholder="SkinThickness(in mm)" required="required"style="width:250px;">
    <p></p><input type="text" name="Insulin" placeholder="Insulin Level" required="required" style="width:250px;">
    <p></p><input type="text" name="BMI" placeholder="BMI" required="required" style="width:250px;">
    <p></p><input type="text" name="DiabetesPedigreeFunction" placeholder="DiabetesPedigreeFunction" required="required" style="width:250px;">
    <p></p><input type="text" name="Age" placeholder="Age" required="required" style="width:250px;">
    <p></p><button type="submit" class="btn btn-primary" style="margin-top: 0.5%;">Predict</button>
</form>

            <h1 style="text-align:center; color:GreenYellow;"><p>{{ pred }}</p></h1>
    </div>

    {% endblock content %}