
{% extends 'base.html' %}
{% load static %}
{% static "images" as baseUrl %}
{% block title %}Home{% endblock title %}

{% block content %}
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
<div class="container my-3">
    <img src="/media/pne.jpg"  alt="medical" class="centre" style="width:50%;">
    <h2 style="color:DeepSkyBlue;">Details </h2>
    <p style="color:white;"><h5 style="color:white;">Welcome to the home page of the app.</h5></p>
    <p style="color:white;"><h6 style="color:white;">This is mainly based on as the application of the machine learning,meant to be employed in the remote and the downtrodden area.</h6>
      <h3 style="color:white;">Overview</h3>
    <p style="color:white;"><h6 style="color:white;">In todays time we see a lot of the shortage of the doctors in the world especially in India.A lot of people are suffering a lot without the help of the proper medical checkup.Also most of the cases many cases arise leading to dealth due to lack of timely medical checkup</h6><p>
        <p style="color:white;">So to cope up with all of those problems this app is designed which would prove its benefits upto much extent.
        </p>
    <hr>
    </p>
    <h3 style="color:DeepSkyBlue;">Application</h3>
    <ul>
      <li style="color:white;">To remove the dependencies on the doctors</li>
      <li style="color:white;">To help people avoid paying huge  amount to the doctors unnecessarily</li>
      <li style="color:white;">To extend the role of the technology in the medical field</li>
    </ul>
</div>
{% endblock content %}
